html{
    background-color: #ECEAD9;
    color: white;
    margin: 0;
}

model-viewer{
margin: auto;
width: 90vh;
height: 90vh;
}

.interaction-prompt{
    font-size: 50px;
}


button {
    background-color: yellow;
    color: black;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-size: 30px;
  }