html{
    font-family: 'Roboto Serif', sans-serif;
    background-color: #F7EDDA;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.6vw;
    padding: 30px;
    padding-top: 0;
    font-weight:100;
    color: #7C5F3F;
}

.grid-container {
display: grid;
column-gap: 15px;
grid-template-columns: 20% 40% 20%;
align-content: flex-start;
/* border:3px solid black; */
justify-content: space-between;
padding-bottom: 20px;
}

.grid-item{
    /* border: 1px solid blue; */
    /* margin: 30px; */

}

.words{
    text-align: left;
    /* text-align: end; */
    top: 100px;
    color: #7C5F3F;
    justify-content: flex-end;
    line-height: 20px;
    padding-left: 40px;
    padding-top: 20px;

}

.image1{
    width: 35%;
}


.container {
    position: relative;
    text-align: center;
}

.image2 {
    /* z-index: 0; */
    width:100% ;
    justify-content: center;
    z-index:1;
    top: 0;
}

.image3 {
    z-index:2;
    top: 0px;
    width: 100%;
}

.centered{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 180px;
    color: #7C5F3F;
}




.grid-container2 {
    display: grid;
    grid-template-columns: repeat(10, 133px);
    grid-template-rows: repeat(30, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border: 2px solid black;
}

.fimg1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 600px;
    padding-left: 60px;
}


.fimg2{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 8;
    width: 500px;
    height: auto;
    padding-left: 30px;
    top: 2px;
    /* padding-left: 200px; */
}

.fimg3{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 8;
    width: 500px;
    height: auto;
    padding-left: 30px;
    top: 2px;
    /* padding-left: 200px; */
}

.grid{
    border: 1px solid blue;
    /* margin: 30px; */
}

