html {
    font-family: sans-serif;
    background-color:#EAD6C0;
  }

h1{
    font-weight: 50;
    font-size: 5vw;
    text-align: center;
    color: #594432;
}
a {
    color: #715C45;
    text-decoration: none;
    border-bottom: 1 px solid black;
    margin-bottom: 36px;
}

.style {
    display: inline-block;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.4;
}
