/* html{
    background-color: black;
    color: white;
    font-family:sans-serif;
} */
/* 
html{
    background-color: white;
    color: black;
} */


.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 0.6vw;
    padding: 30px;
    padding-top: 0;
    font-weight:100;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 133px);
    grid-template-rows: repeat(9, 100px);
    height: 80vh;
}



.box {
 text-transform: uppercase;
 font-size: 200px;
 grid-column-start: 1;
 grid-column-end: 12  ;
 grid-row-start: 3;
 grid-row-end: 5;
 -webkit-text-stroke-width: 5px;
 -webkit-text-stroke-color: white;
 color: black;
 white-space: nowrap;
 overflow-x:scroll;
 padding-top: 100px;
 padding-bottom: 0px;
 line-height: 0px;
height: 100%;
z-index: 0;
text-decoration: none;
}

.box::-webkit-scrollbar{
    display: none;
}

#box1{
    display: inline-block;
    text-decoration: none;
    font-size: 125px;
    color: black;
    background-color: inherit;
    border: none;
    text-transform: uppercase;
}

#box1:hover {
    text-transform: uppercase;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: white;
    color: white;
  }


  .box5{
    display: inline-block;
    text-decoration: none;
    color: black;
}
  .box5:hover {
    text-transform: uppercase;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: white;
    color: white;
    transition: .5s linear;
    font-size: 210px;
    color: #fff;
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff, 
                 0 0 40px #fff;
                
    
  }

  


  @media only screen and (max-width: 700px) {
    .wrapper {
        width:100vw;
    }
    
    .box {
     font-size:100px;
     -webkit-text-stroke-width: 2px;
    }
    .backwords8 {
        padding-left:0;
        margin-left:-200px;
    }
  }

  #item{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 60px;
    margin-top: 30px;
    width: 300px;
    z-index: 1;
    padding: 0px;
    margin: 0px;
  }

  #item {
    animation-duration: 13s;
    animation-name: spinType;
    animation-iteration-count: infinite;
    
}

#item1 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 60px;
    margin-top: 30px;
    width: 200px;
    z-index: 2;
    padding: 0px;
    margin: 50px;
    margin-top: 5.9vh;
  }

#item1 {
    animation-duration: 16s;
    animation-name: spinType1;
    animation-iteration-count: infinite;
    
}

@keyframes spinType {
    0% {
      transform: rotate(0turn);
    }
    /* 60% {
      transform: rotate(0.7turn);
    } */
    100% {
      transform: rotate(1turn);
    }
}
@keyframes spinType1 {
    0% {
      transform: rotate(0deg);
    }
    /* 60% {
      transform: rotate(0.7turn);
    } */
    100% {
      transform: rotate(-365deg);
    }
}


