html{
    background-color: black;
    cursor: none;
}

/* 
 html {
	background: linear-gradient(
		0deg,
		black,
		rgb(129, 129, 129),
		white
	);
	animation: animateBg 6s ease infinite alternate;
	overflow: hidden;
}

@keyframes animateBg {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
} */








.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 0.6vw;
    padding: 30px;
    padding-top: 0;
    font-weight:100;
    color: white;
}
a{
  text-decoration: none;
  color: white;
}
  
  .sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #555555,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 40%;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 6em;
    color: #fdffe6;
    text-shadow: 0 0 0.6rem #ffffe6, 0 0 1.5rem #ffffe6,
      -0.2rem 0.1rem 1rem #f5f7dc, 0.2rem 0.1rem 1rem #f5f7dc,
      0 -0.5rem 2rem #ffffff, 0 0.5rem 3rem #ffffff;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #fdffe6;
      text-shadow: 0 0 0.6rem #fdffe6, 0 0 1.5rem #fdffe6,
        -0.2rem 0.1rem 1rem #ffffe6, 0.2rem 0.1rem 1rem #ffffe6,
        0 -0.5rem 2rem #ffffff, 0 0.5rem 3rem #ffffff;
    }
    28%,
    33% {
      color: #ffffe6;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ffffff;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #ffffff;
      text-shadow: none;
    }
    100% {
      color: #fdffe6;
      text-shadow: 0 0 0.6rem #fdffe6, 0 0 1.5rem #fdffe6,
        -0.2rem 0.1rem 1rem #ffffe6, 0.2rem 0.1rem 1rem #ffffe6,
        0 -0.5rem 2rem #ffffff, 0 0.5rem 3rem #ffffff;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  
.sign2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 2em;  
    color: #fff;


}
.sign2:hover {
    transition: .5s linear;
    text-shadow: 0 0 5px #fff,
             0 0 10px #fff, 
             0 0 40px #fff;
}



.content{
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
    cursor: none;
    font-family: monospace;
    margin-left: 90px;
    margin-right: 90px;
    padding-top: 40px;
    line-height: 30px;

}



h4 {
    font-size: 20px;
    /* position: fixed;
    mix-blend-mode: exclusion; */
    color: rgb(34, 34, 34);
    z-index: 1;
}



#cursor-custom {
  height: 50px;
  width: 50px;
  pointer-events: none;
  position: fixed;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
    0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
}
