* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  height: 100vh;
  background: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle,
.cursor {
  position: fixed;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.cursor {
  height: 10px;
  width: 10px;
  z-index: 10;
}

.circle {
  height: 50px;
  width: 50px;
  mix-blend-mode: difference;
  z-index: 11;
  transition: left 0.25s ease-out, top 0.25s ease-out, transform 0.25s linear;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  max-width: 992px;
}

li>a {
  text-decoration: none;
  display: flex;
  color: #fff;
  font-size: 2.5em;
  text-transform: uppercase;
  z-index: 10;
  transition: transform 0.3s ease;
font-family: sans-serif;
}

a > span {
  display: inline-block;
  pointer-events: none;
  transition: transform .1s linear;
}

.circle.hover {
  transform: translate(-50%, -50%) scale(2.5);
  animation: liquid 2.5s linear infinite;
}

@keyframes liquid {

0%,
  100% {
      border-radius: 28% 72% 46% 54% / 22% 50% 50% 78%;
  }

  25% {
      border-radius: 73% 27% 41% 59% / 49% 20% 80% 51%;
  }

  50% {
      border-radius: 47% 53% 28% 72% / 49% 76% 24% 51%;
  }

  75% {
      border-radius: 48% 52% 68% 32% / 78% 54% 46% 22%;
  }
}