
body {
    background-color: pink;
    font-family: arial;
    color: red;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  
  #item {
    width: 500px;
    align-items: center;
    /* height:100px;t */
  }


#item {
    animation-duration: 10s;
    animation-name: spinType;
    
}


@keyframes animationTitle {
    0% { 
        transform: rotate(0 turn)
    }
    100% { transform: rotate(1 turn)
    }
    }


@keyframes itemSpin {
        0% {
        }
        60% {
        }
        100% {
        }
      }


 @keyframes spinType {
        0% {
          transform: rotate(0turn);
        }
        /* 60% {
          transform: rotate(0.7turn);
        } */
        100% {
          transform: rotate(1turn);
        }

        
      }