
body {
    background-color: pink;
    font-family: arial;
    color: red;
    font-size: 100px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .item {
    text-align: center;
  }


.item {
    animation-duration: 2s;
    animation-name: spinType;
}


@keyframes animationTitle {
    0% { 
        transform: rotate(0 turn)
    }
    100% { transform: rotate(1 turn)
    }
    }-


@keyframes spinType {
        0% {
        }
        60% {
        }
        100% {
        }
      }


 @keyframes spinType {
        0% {
          transform: rotate(0.5turn);
        }
        60% {
          transform: rotate(0.7turn);
        }
        100% {
          transform: rotate(1turn);
        }
      }