body{
    color: navy;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.4;
    padding: 20px;
    text-shadow: #DC9295 1px 0 10px;
    position: relative;
    margin: 10px 10px;
}

h1{
    font-weight: 700;
    font-size: 10vw;
    align-items: right;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 15px 15px #dbeeff;
    margin-left: 20px;
}

a {
    color: navy;
    text-decoration: none;
    border-bottom: 1 px solid black;
    margin-bottom: 36px;
    line-height: 30px;
    font-size: 30px;
}

a:hover {
    border: 1 px solid black;
}

.title2 {
    font-size: 25px;
}

.style {
    font-size: 30px;
}