html {
    font-family: sans-serif;
  }
  
  /* body {
    max-width: 32rem;
    margin: 0 auto;
    padding: 6rem 1rem;
  } */

.menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 20px;
  padding-top: 0;
  font-weight:100;
  color: #7C5F3F;
  text-transform: uppercase;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;

}

.title{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  border: 1.5px solid black;
  padding: 10px;
  margin-top: 30px;
  }

.grid-container > div {
border: 1.5px solid black;
text-align: center;
padding: 20px 0;
font-size: 30px;
}

  
  h1 {
    font-size: clamp(3rem, 8vw, 6rem);
    line-height: 0.8;
    letter-spacing: -0.04em;
    margin-bottom: 2.25rem;
  }
  
  p {
    line-height: 1.5;
  }
  ul{
      color: pink;
  }
 
  /* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
}
 
/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
 
}
 
/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-400%, 0, 0); }
}
.hmove { animation: tickerh linear 30s infinite; }
.hmove:hover { animation-play-state: paused; }