html{
    background-color: black;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.6vw;
    padding: 30px;
    padding-top: 0;
    font-weight:100;
    color: white;
}

.articletitle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    color: white;
    padding-left: 130px;
    padding-right: 130px;
    font-size: 20px;
    font-family:monospace;
    line-height: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 133px);
    grid-template-rows: repeat(9, 100px);
    height: 80vh;
    color: rgb(209, 209, 209);
    justify-content: center;
}

.backwords1{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
    font-size: 40px;
    padding-left: 90px;
}

.backwords2{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: 40px;
    padding-left: 90px;
}

.backwords3{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 40px;
    padding-left: 90px;
}
.backwords4{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 40px;
    padding-left: 90px;
}

.backwords5{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 40px;
    padding-left: 90px;
}



.backwords6{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 40px;
   
}
.backwords7{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: 40px;
    padding-left: 20px;
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
.backwords8{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 40px;
    padding-left: 90px;
    position:relative;
}



.backwords9{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 40px;
    padding-left: 90px;
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
.backwords10{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 40px;
    padding-left: 60px;
}
.backwords11{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 40px;
    padding-left: 250px;
}
.backwords12{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: 40px;
    padding-left: 90px;
}
.backwords13{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 40px;
    padding-left: 90px;
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
.backwords14{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 40px;
    padding-left: 60px;
    margin-top: 30px;
}

.backwords15{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    font-size: 40px;
    padding-left: 60px;
    margin-top: 30px;
}

.backwords16{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 40px;
    padding-left: 60px;
    margin-top: 30px;
}
.backwords17{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
    font-size: 40px;
    padding-left: 60px;
    margin-top: 30px;
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}

.backwords18{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 40px;
    padding-left: 60px;
    margin-top: 30px;
}
.backwords19{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 8;
    font-size: 40px;
    padding-left: 60px;
    margin-top: 30px;
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}

.backwords20{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
    font-size: 40px;
    padding-left: 60px;
    margin-top: 30px;
}

.demo {
    color: white;
}