html {
    font-family:sans-serif;  
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.6vw;
    padding: 30px;
    padding-top: 0;
    font-weight:100;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 133px);
    grid-template-rows: repeat(9, 100px);
    height: 80vh;
    color: rgb(209, 209, 209);
}

.backwords1{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
    font-size: 20px;
    padding-left: 90px;
}

.backwords2{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: 20px;
    padding-left: 90px;
}

.backwords3{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 20px;
    padding-left: 90px;
}
.backwords4{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 20px;
    padding-left: 90px;
}

.backwords5{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
    padding-left: 90px;
}



.backwords6{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
   
}
.backwords7{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: 20px;
    padding-left: 20px;
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
.backwords8{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
    padding-left: 90px;
    position:relative;
}
/* .backwords8:hover::before{
    position: absolute;
    top: -70px;
    left: 0px;
    color: black;
    font-size: 15px;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    content: '問號';
    width: 30px;
    font-family:sans-serif;
    } */


.backwords9{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    padding-left: 90px;
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
.backwords10{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 20px;
    padding-left: 60px;
}
.backwords11{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 30px;
    padding-left: 250px;
}
.backwords12{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: 20px;
    padding-left: 90px;
}
.backwords13{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
    padding-left: 90px;
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
.backwords14{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 30px;
    padding-left: 60px;
    margin-top: 30px;
}

.backwords15{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    font-size: 30px;
    padding-left: 60px;
    margin-top: 30px;
}

.backwords16{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 30px;
    padding-left: 60px;
    margin-top: 30px;
}
.backwords17{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
    font-size: 30px;
    padding-left: 60px;
    margin-top: 30px;
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}

.backwords18{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 30px;
    padding-left: 60px;
    margin-top: 30px;
}
.backwords19{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 8;
    font-size: 30px;
    padding-left: 60px;
    margin-top: 30px;
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}

.backwords20{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
    font-size: 30px;
    padding-left: 60px;
    margin-top: 30px;
}


.box {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 8; 
    color: black;
    /* white-space: nowrap; */
    overflow-y:scroll;
   z-index: 0;
   text-decoration: none;
   height: 500px;
   background-color:white;

   display: grid;
   gap: 2px;
   /* animation: animated-text 4s steps(300,end) 1s 1 normal both,
               animated-cursor 4ms steps(300,end) infinite; */
  
   }
   
   .box::-webkit-scrollbar{
       display: none;
   }

   

/* .typewriter{
    color: black;
    font-size: 15px;
    font-family:monospace;
    line-height:2;
    display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 55vw;
	margin: 0 auto;
	min-height: 100vh;
	perspective: 200px;
} */

.typewriter {
    color: hsl(0 0% 20%);
    font-size: 15px;
    line-height: 3;
    font-weight: 150px;
    margin: 0;
    min-block-size: 100%;
    min-inline-size: 100%;
    font-family:monospace;
}

em {
    text-emphasis: triangle;
    font-style: normal;
  }
  
.emphasis-1{
    -webkit-text-emphasis: '❓';
    font-size: 18px;

  }

  /* @keyframes animated-text{
    from{width: 0;}
    to{width: 600px;}
  }
  @keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
  } */



h2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 8; 
    font-size: 100px;

    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 750px;
    padding-right: 10px;
    margin-top: 0;
  }
  
  h2 span {
    font-size: 40px;
    margin-left: 30px;
  }
  
  .message {
    background-color: white;
    color: red;
    display: block;
    font-weight: 1100;
    overflow: hidden;
    position: absolute;
    padding-left: 1rem;
    top: 0.2rem;
    left: 300px;
    animation: openclose 10s ease-in-out infinite;
  }
  

  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
