body{
    font-family: 'Roboto Serif', serif;
}

.wrapper {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}



h1 {
    font-weight: 200;
    font-size: 36;
    margin-bottom: 0;
}


.entries {
    margin-bottom: 60px;
  }
  
.heading {
    margin-bottom: 60px;
  }
  
.chapter {
    letter-spacing: 10px;
  }
  
  p {
    margin: 0;
  }
  
  .page {
    margin-top: 10px;
  }
  
  
  span {
    display: block;
  }