body{
    font-family: 'Roboto Serif', serif;
    background-color: ##FEF4EC;
}

.flex-container {

  /* display: flex;
  flex-grow: repace(2 1fr);
  align-items: center;
  justify-content: left;
  flex-direction: column;
  margin-left: 900px;
  margin-right: auto;
  margin-top: 0px;
  padding: 0px;
  align-items: flex-start;
  border: 3px solid black;
  flex-direction: column; */
  display: grid;
  column-gap: 15px;
  grid-template-columns: 30% 30%;
 align-content: flex-start;
  /* border:3px solid black; */
  justify-content: end;

}



h1 {
    font-weight: 200;
    font-size: 36;
    margin-bottom: 0;
    margin-left: 90px;
    margin-top: 50px;
    padding: 50px;
    line-height: 45px;
}


.entries {
    margin-bottom: 60px;
  }
  
.heading {
    margin-bottom: 60px;
  }
  
.chapter {
    letter-spacing: 10px;
  }
  
  p {
    margin: 0;
  }
  
  .page {
    margin-top: 10px;
  }
  
  
  span {
    display: block;
  }