html{
    font-family: 'Roboto Mono', monospace;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    /* border: 1px dotted rgb(172, 172, 172); */
    margin:30px 20px;
    }

.grid-container > div {
    /* border: 1px dotted rgb(172, 172, 172); */
    box-shadow: 2px 2px 4px rgb(172, 172, 172);

    /* padding: 20px 0; */
    font-size: 30px;
    }
        
.title {
    grid-row-start: 1;
    grid-row-end: 7;
    text-align: left;
    line-height: 0;
    /* transform: rotate(-90deg); */
    /* grid-column-start: 2;
    grid-column-end: 4; */
    }

.name{
    font-size: 20px;
    line-height: 10px;
}
hr {
    margin: 0px 0px;
    width: 100%;

}
.title2 {
    /* transform: rotate(-90deg); */
    font-size: 75px;
    text-align: left;
    margin-left: 0px;
    margin-top: 70px;
    line-height: 90px;
    text-transform: uppercase;
    font-weight: bold;
    color: crimson;
}

.item2{
    text-align: left;
}

.item3{
    grid-column-start: 3;
    grid-column-end: 6;
}

.item4{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 6;
}

.item5{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.item6{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.item7{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}

.item8 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 6;
}

.chapter {
    font-size: 40px;
    font-weight: 700;
}

.chapter1{
    font-size: 70px;
    line-height: 50pt;
    font-weight: 700;
    /* color: crimson; */
}

.topic{
    font-size: 17px;
    font-weight: 600;
    line-height: 0;
}

.topic1{
    font-size: 17px;
    font-weight: 600;
    text-align: right;
}

.page {
    display: grid;
    font-size: 12px;
    text-align: right;
    text-align: end;
    padding-bottom: 0px;
    font-weight: 300;
}

.description {
    font-size: 14px;
    text-align:end;
    font-weight: 600;
}