
body{
font-family: 'Secular One', sans-serif;
margin: 0px;
}

.menu{
display: flex;
margin: auto;
align-items: center;
justify-content: center;
margin-top: 15px;
}

#changecolor{
border: none;
background-color: Transparent;
font-family: 'Secular One', sans-serif;
font-size: 60px;
z-index: 2;
}

#shape{
border: none;
background-color: Transparent;
font-family: 'Secular One', sans-serif;
font-size: 60px;
z-index: 2;
}

#lines{
border: none;
background-color: Transparent;
font-family: 'Secular One', sans-serif;
font-size: 60px;
z-index: 2;
}

#bgCanvas{
    /* display: flex; */
    /* background-color: Transparent; */
    cursor: pointer;
    /* margin: auto; */
    width: 100%;
    height: 100px;
    align-items: center;
    /* justify-content: center; */
    margin-top: 20px;
z-index: 0;
}

#date{
    position: fixed;
    display: flex;
    /* background-color: Transparent; */
    cursor: pointer;
    margin: auto;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    z-index: 1;
}